body {
    color: blue;

}
#weather {
   text-align: center;
}
#toggle {
    text-align: center;
}
button {
    display: block;
    margin: 0 auto;
    text-align: center;
}
#icon {
    text-align: center;
    padding-top: 10px;
}
